<h1>Log In Below:</h1>
<form method = "post" action = "/sessions">
<h2>Email:<input type = "text" name = "email" value = "email">
<h2>Password:<input type = "text" name = "password" value = "password">
<input type ="submit" value = "Log In" name = "Log in">
</form>
