<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
  <label for="name" type="text">Name: </label>
  <input type="text" name="name">
  <label for="email" type="text">Email: </label>
  <input type="text" name="email">
  <label for="password" type="text">Password: </label>
  <input type="password" name="password">
  <input type="submit" value="Sign Up">
</form>
