<h1>Sign Up Below:</h1>
<form method = "post" action = "/registrations">
<h2>Name:<input type = "text" name = "name" value = "name">
<h2>Email:<input type = "text" name = "email" value = "email">
<h2>Password:<input type = "text" name = "password" value = "password">
<input type ="submit" value = "Sign Up" name = "Sign Up">
</form>


